<div class="main-content  text-center overflow-hidden" style="height: 100vh; background-color: slategrey">
    <div class="my-3 p-3">
      <h2 class="display-5" style="color: aliceblue;">Login</h2>
      <p class="lead">Acesse sua conta para testar a API do desafio de back end. </p>
      <p class="lead">Não tem uma conta? <a href="/cadastro"> Cadastre-se</a> </p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 30%; height: 50%; border-radius: 21px; display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;">
        <form style="width: 50%;">
            <div class="form-floating" >
              <input type="email" class="form-control" id="floatingInput" [(ngModel)]="userName" name="fieldName">
              <label for="floatingInput" >User Name</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="userPassword" name="fieldName">
              <label for="floatingPassword" >Password</label>
            </div>
            <p *ngIf="errorMessage"style="color: red;">{{errorMessage}}</p>
            <hr style="color: aliceblue;margin-top: 40px;">
            <button class="w-100 btn btn-lg btn-secondary" type="submit" (click)="getLogin()">Sign in</button>
          </form>
    </div>
  </div>