<div *ngIf="accessAllowed" class="main-content bg-light  text-center overflow-hidden" style="height: 100vh;">
    <div class="my-3 p-3">
      <h2 class="display-5">Olá, {{user}}</h2>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 30%; height: 50%; border-radius: 21px; display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    ">
        <form style="width: 50%;">
            <button class="w-100 btn btn-lg btn-secondary" type="submit" >Sign Up</button>
            </form>
    </div>
</div>